.posts {
  &-main {
    width     : 93%;
    max-width : 900px;
    margin    : auto;
    margin-top: 1em;

    &-title {
      font-size  : 2em;
      margin     : .67em 0;
      font-weight: 700;

    }

    &-list {
      display       : flex;
      // align-items: center;

      &-time {
        padding-top    : 6px;
        margin-right   : 1.8em;
        font-size      : 1.6em;
        opacity        : .6;
        // margin-left : 3.5em;
      }

      &-ul {
        flex-grow : 1;
        margin    : 0;
        padding   : 0;
        list-style: none;

        li {
          border-bottom   : 1px #7d828a dashed;
          // padding      : 1em 0;

          a {
            display        : flex;
            justify-content: space-between;
            align-items    : baseline;
            padding        : 12px 0;
          }
        }
      }
    }
  }
}